@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
    margin: 0;
    padding: 0;
    background-image: url(img/background.png);
    font-family: "Roboto", sans-serif;
}

.carousel {
    margin: 0 auto;
    margin-top: 12%;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

.carousel input[type=radio] {
    display: none;
}

.carousel label {
    cursor: pointer;
    text-decoration: none;
}

.topic {
    font-size: 88px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2%;
}

.text {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2%;
    line-height: 1.5;
}

.slides-wrapper {
    position: relative;
    z-index: 1;
}

.overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~.slides-wrapper .inner {
    margin-left: 0;
}

#slide2:checked~.slides-wrapper .inner {
    margin-left: -100%;
}

#slide3:checked~.slides-wrapper .inner {
    margin-left: -200%;
}

#slide4:checked~.slides-wrapper .inner {
    margin-left: -300%;
}

.slides-wrapper .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 60px;
    height: 300px;
}

.slides-wrapper .slides-content {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 70px;
    z-index: 3;
    position: relative;
}

.controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 74px;
    height: 70px;
    opacity: .5;
}

.controls label:hover {
    opacity: 1;
}

#slide1:checked~.controls label:nth-child(2),
#slide2:checked~.controls label:nth-child(3),
#slide3:checked~.controls label:nth-child(4),
#slide4:checked~.controls label:nth-child(1) {
    background: url(img/right-arrow.svg) no-repeat;
    float: right;
    margin: 0 -200px 0 0;
    display: block;
}

#slide1:checked~.controls label:nth-last-child(1),
#slide2:checked~.controls label:nth-last-child(4),
#slide3:checked~.controls label:nth-last-child(3),
#slide4:checked~.controls label:nth-last-child(2) {
    background: url(img/left-arrow.svg) no-repeat;
    float: left;
    margin: 0 0 0 -200px;
    display: block;
}

.bullets {
    margin: 200px 0 0;
    text-align: center;
}

.bullets label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #fff;
    margin: 0 20px;
}

#slide1:checked~.bullets label:nth-child(1),
#slide2:checked~.bullets label:nth-child(2),
#slide3:checked~.bullets label:nth-child(3),
#slide4:checked~.bullets label:nth-child(4) {
    background: transparent;
    border: solid 1px #fff;
}

.fox {
    position: fixed;
    top: 88%;
    left: 45%;
}

@media screen and (max-width: 1200px) {

    #slide1:checked~.controls label:nth-child(2),
    #slide2:checked~.controls label:nth-child(3),
    #slide3:checked~.controls label:nth-child(4),
    #slide4:checked~.controls label:nth-child(1),
    #slide1:checked~.controls label:nth-last-child(1),
    #slide2:checked~.controls label:nth-last-child(4),
    #slide3:checked~.controls label:nth-last-child(3),
    #slide4:checked~.controls label:nth-last-child(2) {
        margin: 0;
    }

    .slides-wrapper {
        max-width: calc(100%-400px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .slides-wrapper .inner {
        height: 100%;
    }
}